body { 
    background-color: #FFF8E8;
    padding: 0;
    margin: 0;
}

.home-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.navigation-bar-container {
    display: flex;
    background-color: #EFE9DA;
    border: 2px solid rgba(145, 130, 130, 0.5);
    height: 50px;
    border-radius: 30px;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.selection {
    display: inline-block;
    font-size: 23px;
}

.selection > a {
    color: black;
    opacity: 60%;
    padding-bottom: 5px;
    margin: 0px 15px 0px 15px;
    font-family: 'Inter', sans-serif;
}

.navigation-bar-container nav > ul { 
    padding: 0;
    margin: 0;
}

.navigation-bar-container nav ul li, .navigation-bar-container nav ul li a {
    list-style: none;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
    opacity: 80%;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a {
    position: relative;
}

nav ul li a::after { 
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    background: #aaa;
    height: 2px;
}

nav ul li a:hover:after {
    width: 100%;
}

.greeting-text-container {
    background-color:#EFE9DA;
    height: 450px;
    width: 100%;
    border-top: 3px solid rgba(51, 48, 48, 0.5);
    border-bottom: 3px solid rgba(51, 48, 48, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting-text-container > div {
    position: relative;
    bottom: 45px;
    display: flex;
    flex-direction: column;
}

.welcome-message {
    display: block;
    text-align: center;
}

#aspiring-text {
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
}

#welcome-site-text {
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
}

@media (max-width: 540px) {

    .navigation-bar-container {
        padding: 15px;
    }

}
